Repository VWS-Python/vws-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

actionlint:
  name: actionlint
  entry: actionlint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - push
  entry: python -m mypy .
  language: system
  pass_filenames: false

mypy-docs:
  name: mypy-docs
  stages:
  - push
  entry: doccmd --language=python --command="mypy"
  language: system

pyright:
  name: pyright
  stages:
  - push
  entry: python -m pyright .
  language: system
  pass_filenames: false

pyright-docs:
  name: pyright-docs
  stages:
  - push
  entry: doccmd --language=python --command="pyright"
  language: system

vulture:
  name: vulture
  entry: python -m vulture .
  language: system
  pass_filenames: false

vulture-docs:
  name: vulture docs
  entry: doccmd --language=python --command="vulture"
  language: system

pyroma:
  name: pyroma
  entry: python -m pyroma --min 10 .
  language: system
  pass_filenames: false

ruff-check-fix:
  name: Ruff check fix
  entry: python -m ruff check --fix
  language: system

ruff-check-fix-docs:
  name: Ruff check fix docs
  entry: doccmd --language=python --command="ruff check --fix"
  language: system

ruff-format-fix:
  name: Ruff format
  entry: python -m ruff format
  language: system

ruff-format-fix-docs:
  name: Ruff format docs
  entry: doccmd --language=python --no-pad-file --command="ruff format"
  language: system

doc8:
  name: doc8
  entry: python -m doc8
  language: system

interrogate:
  name: interrogate
  entry: python -m interrogate
  language: system

interrogate-docs:
  name: interrogate docs
  entry: doccmd --language=python --command="interrogate"
  language: system

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: pyproject-fmt
  language: system

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - push
  entry: python -m pyright --verifytypes vws
  language: system
  pass_filenames: false

Use new follow_untyped_imports mypy setting
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove duplicated ruff configuration
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove unnecessary ruff ignore
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Only allow assert in tests
  docs/source/conf.py
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Put back conflict ignore
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Allow asserts in docs
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Allow asserts in README
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use new mypy plugin for strict kwargs
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use one more kwarg
  docs/source/conf.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Use keyword args all over
  src/vws/exceptions/vws_exceptions.py
  src/vws/vws.py
  tests/test_cloud_reco_exceptions.py
  tests/test_vws.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Disable type ignore comments for pyright
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Set release fetch-depth to 0 with a comment why
  .github/workflows/release.yml
Due: actionlint

Git ignore DS_Store files
  .gitignore
Due: none

Add sphinx-lint
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Add sphinx-lint
  .pre-commit-config.yaml
Due: actionlint

Stop shadowing Python builtin "types"
  CHANGELOG.rst
  docs/source/api-reference.rst
  src/vws/exceptions/base_exceptions.py
  src/vws/exceptions/custom_exceptions.py
  src/vws/query.py
  src/vws/response.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

Revert "Stop shadowing Python builtin "types""
  CHANGELOG.rst
  docs/source/api-reference.rst
  src/vws/exceptions/base_exceptions.py
  src/vws/exceptions/custom_exceptions.py
  src/vws/query.py
  src/vws/vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

Stop shadowing Python builtin "types"
  docs/source/api-reference.rst
  src/vws/exceptions/base_exceptions.py
  src/vws/exceptions/custom_exceptions.py
  src/vws/query.py
  src/vws/response.py
  src/vws/vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

Bump uv in pre-commit hooks to 0.5.20
  .pre-commit-config.yaml
Due: actionlint

Use new format for pylint-per-file-ignores
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Ignore - change to test CI
  README.rst
Due: mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Add traceback to word list
  spelling_private_dict.txt
Due: none

Remove unnecessary strategy from release.yml
  .github/workflows/release.yml
Due: actionlint

Make sure GitHub releases are marked as latest
  .github/workflows/release.yml
Due: actionlint

Fix release parsing in conf.py
  docs/source/conf.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Error in release process if trying to commit changes and there are none
  .github/workflows/release.yml
Due: actionlint

Enable the uv cache in CI
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: actionlint

Remove unused version setting in conf.py
  docs/source/conf.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Remove double setting of autoclass content - just use both
  docs/source/conf.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Use SphinxConfig to avoid some duplication
  docs/source/conf.py
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Switch from ReadTheDocs to GitHub Pages
  .github/workflows/publish-site.yml
  README.rst
  docs/source/index.rst
  pyproject.toml
  readthedocs.yaml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix

Update VWS-Python-Mock link to new site
  docs/source/index.rst
Due: mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Use cache on publish site
  .github/workflows/publish-site.yml
Due: actionlint

Bump uv in pre-commit
  .pre-commit-config.yaml
Due: actionlint

Remove OopsAnErrorOccurredPossiblyBadName which matches error no longer found in Vuforia
  CHANGELOG.rst
  src/vws/exceptions/custom_exceptions.py
  src/vws/vws.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

Bump CHANGELOG
  CHANGELOG.rst
Due: mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  pyright-verifytypes: any of: \.py$
