Repository VWS-Python/vws-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  pyright-verifytypes: any of: \.py$

Add validation for gha-find-replace actions
  .github/workflows/release.yml
Due: actionlint

Bump beartype to 0.22.9
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Add ty to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Update furo package version to 2025.12.19
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Add Claude Code LSP plugin for Python (pyright)
  .claude/plugins/pyright-lsp/.claude-plugin/plugin.json
  .claude/plugins/pyright-lsp/.lsp.json
Due: none

Add pyrefly and pyrefly-docs configuration
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix pyrefly
  src/vws/vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Fix mypy
  src/vws/vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Bump dependencies
  .claude/settings.json
Due: none

Add zizmor for GitHub Actions security linting
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Add zizmor config
  zizmor.yml
Due: actionlint

Fix zizmor / ignore some errors
  .github/workflows/ci.yml
  .github/workflows/dependabot-merge.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  zizmor.yml
Due: actionlint

Ignore zizmor in check-manifest
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix bugbot issues
  .github/workflows/release.yml
Due: actionlint

Switch from pre-commit to prek
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  docs/source/contributing.rst
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix

Undo some unnecessary changes
  .pre-commit-config.yaml
Due: actionlint

Remove stage
  .pre-commit-config.yaml
Due: actionlint

Remove changes
  .pre-commit-config.yaml
Due: actionlint

Test a change
  src/vws/exceptions/vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Undo a change
  src/vws/exceptions/vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Make prettier printWidth more compatible with yamlfix
  .prettierrc
Due: none

Make prettier more compatible with yamlfix
  .prettierrc
Due: none

Fix prettier config
  .prettierrc
Due: none

Make zizmor collection strict
  .pre-commit-config.yaml
Due: actionlint

Remove duplicate key
  .prettierrc
Due: none

Fix zizmor warning in release workflow
  .github/workflows/release.yml
Due: actionlint

Switch from docformatter to pydocstringformatter
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Configure pydocstringformatter to make minimal changes
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Switch from pydocstringformatter
  conftest.py
  docs/source/__init__.py
  docs/source/conf.py
  pyproject.toml
  src/vws/__init__.py
  src/vws/exceptions/__init__.py
  src/vws/exceptions/base_exceptions.py
  src/vws/exceptions/cloud_reco_exceptions.py
  src/vws/exceptions/custom_exceptions.py
  src/vws/exceptions/vws_exceptions.py
  src/vws/include_target_data.py
  src/vws/query.py
  src/vws/reports.py
  src/vws/response.py
  src/vws/vws.py
  tests/__init__.py
  tests/conftest.py
  tests/test_cloud_reco_exceptions.py
  tests/test_query.py
  tests/test_vws.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Use bash shell for Lint step to ensure early failure
  .github/workflows/lint.yml
Due: actionlint

Linewrap with pydocstringformatter
  pyproject.toml
  src/vws/exceptions/cloud_reco_exceptions.py
  src/vws/exceptions/custom_exceptions.py
  src/vws/exceptions/vws_exceptions.py
  tests/test_cloud_reco_exceptions.py
  tests/test_query.py
  tests/test_vws.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Un-break URLs
  pyproject.toml
  src/vws/exceptions/custom_exceptions.py
  src/vws/exceptions/vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Work around pydocstringformatter issue
  src/vws/exceptions/custom_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Fix ruff ignore comment
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Write fixes
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Re-add D200 to ruff ignores - conflicts with pydocstringformatter at line-length boundary
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove D200 ignore by lowering pydocstringformatter line length to 75
  bun.lock
  example.txt
  issue.txt
  package.json
  pyproject.toml
  src/vws/exceptions/base_exceptions.py
  src/vws/exceptions/cloud_reco_exceptions.py
  src/vws/exceptions/vws_exceptions.py
  src/vws/query.py
  src/vws/vws.py
  tests/test_cloud_reco_exceptions.py
  tests/test_query.py
  tests/test_vws.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Remove unrelated test files
  bun.lock
  example.txt
  issue.txt
  package.json
Due: none

Remove --example-workers 0 due to mypy bug
  .pre-commit-config.yaml
Due: actionlint
