Repository VWS-Python/vws-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

actionlint:
  name: actionlint
  entry: actionlint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - push
  entry: python -m mypy .
  language: system
  pass_filenames: false

mypy-docs:
  name: mypy-docs
  stages:
  - push
  entry: doccmd --language=python --command="mypy"
  language: system

pyright:
  name: pyright
  stages:
  - push
  entry: python -m pyright .
  language: system
  pass_filenames: false

pyright-docs:
  name: pyright-docs
  stages:
  - push
  entry: doccmd --language=python --command="pyright"
  language: system

vulture:
  name: vulture
  entry: python -m vulture .
  language: system
  pass_filenames: false

vulture-docs:
  name: vulture docs
  entry: doccmd --language=python --command="vulture"
  language: system

pyroma:
  name: pyroma
  entry: python -m pyroma --min 10 .
  language: system
  pass_filenames: false

ruff-check-fix:
  name: Ruff check fix
  entry: python -m ruff check --fix
  language: system

ruff-check-fix-docs:
  name: Ruff check fix docs
  entry: doccmd --language=python --command="ruff check --fix"
  language: system

ruff-format-fix:
  name: Ruff format
  entry: python -m ruff format
  language: system

ruff-format-fix-docs:
  name: Ruff format docs
  entry: doccmd --language=python --no-pad-file --command="ruff format"
  language: system

doc8:
  name: doc8
  entry: python -m doc8
  language: system

interrogate:
  name: interrogate
  entry: python -m interrogate
  language: system

interrogate-docs:
  name: interrogate docs
  entry: doccmd --language=python --command="interrogate"
  language: system

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: pyproject-fmt
  language: system

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - push
  entry: python -m pyright --verifytypes vws
  language: system
  pass_filenames: false

Pass filenames to shellcheck
  .pre-commit-config.yaml
Due: actionlint

Make it easier to change the build matrix while still keeping builds required
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: actionlint

Remove now-unnecessary wheel build dependency
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Accept all IO[bytes] as image type
  CHANGELOG.rst
  src/vws/query.py
  src/vws/vws.py
  tests/conftest.py
  tests/test_query.py
  tests/test_vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

More switch to IO
  tests/conftest.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Better formatting
  conftest.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Revert "Accept all IO[bytes] as image type"
  CHANGELOG.rst
  src/vws/query.py
  src/vws/vws.py
  tests/conftest.py
  tests/test_query.py
  tests/test_vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

Simplify specifying license
  LICENSE
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use new way of specifying license
  LICENSE
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Run pre-commit hooks on only one stage each
  .pre-commit-config.yaml
Due: actionlint

Use new syntax for pylint-per-file-ignores
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Try ignoring errors also in more docs source
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Better per-file-ignore
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Bump pylint per-file-ignores
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove direct pyenchant dependency now that 3.3.0 supports the latest macOS
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Make pylint spelling dependency explicit
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use incorrect type for a pytest fixture to demonstrate beartype catching the error
  tests/test_vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Remove beartype decorator from test functions
  conftest.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Run beartype
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use pytest-beartype rather than decorating test functions
  conftest.py
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Remove Codecov - it is flaky and doesn't provide much value
  .github/workflows/ci.yml
  README.rst
  codecov.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix

Remove docs/Makefile and update pre-commit to use sphinx-build directly
  .pre-commit-config.yaml
  docs/Makefile
Due: actionlint

Update base Makefile to use sphinx-build directly
  Makefile
Due: none

Add -W flag to docs hook for consistent error handling
  .pre-commit-config.yaml
Due: actionlint

Add MIT LICENSE file
  LICENSE
Due: none

Add .prettierrc configuration
  .prettierrc
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove Makefile and replace make commands with direct equivalents
  Makefile
  docs/source/contributing.rst
Due: mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Bump uv to 0.9.5
  .pre-commit-config.yaml
Due: actionlint

Add view and edit buttons to Sphinx docs
  docs/source/conf.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Configure Furo top-of-page buttons with repository details
  docs/source/conf.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Add --no-write-to-file flag for read-only doccmd commands
  .pre-commit-config.yaml
Due: actionlint

Bump doccmd to 2025.11.8.1 and sybil-extras to 2025.11.8
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Bump dependencies
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Add --example-workers 0 to read-only doccmd hooks
  .pre-commit-config.yaml
Due: actionlint

Apply black formatting
  docs/source/conf.py
  pyproject.toml
  src/vws/query.py
  src/vws/vws.py
  tests/test_cloud_reco_exceptions.py
  tests/test_vws.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Docformatter black
  conftest.py
  docs/source/__init__.py
  docs/source/conf.py
  src/vws/__init__.py
  src/vws/exceptions/__init__.py
  src/vws/exceptions/base_exceptions.py
  src/vws/exceptions/cloud_reco_exceptions.py
  src/vws/exceptions/custom_exceptions.py
  src/vws/exceptions/vws_exceptions.py
  src/vws/include_target_data.py
  src/vws/query.py
  src/vws/reports.py
  src/vws/response.py
  src/vws/vws.py
  tests/__init__.py
  tests/conftest.py
  tests/test_cloud_reco_exceptions.py
  tests/test_query.py
  tests/test_vws.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Docformatter black
  src/vws/exceptions/cloud_reco_exceptions.py
  src/vws/exceptions/vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Run finswimmer docformatter with black style
  conftest.py
  docs/source/__init__.py
  docs/source/conf.py
  pyproject.toml
  src/vws/__init__.py
  src/vws/exceptions/__init__.py
  src/vws/exceptions/base_exceptions.py
  src/vws/exceptions/cloud_reco_exceptions.py
  src/vws/exceptions/custom_exceptions.py
  src/vws/exceptions/vws_exceptions.py
  src/vws/include_target_data.py
  src/vws/query.py
  src/vws/reports.py
  src/vws/response.py
  src/vws/vws.py
  tests/__init__.py
  tests/conftest.py
  tests/test_cloud_reco_exceptions.py
  tests/test_query.py
  tests/test_vws.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Run latest docformatter
  pyproject.toml
  src/vws/exceptions/vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  pyright-verifytypes: any of: \.py$
