Repository VWS-Python/vws-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  pyright-verifytypes: any of: \.py$

Use keyword args for shared helper calls
  src/vws/async_query.py
  src/vws/async_vumark_service.py
  src/vws/async_vws.py
  src/vws/query.py
  src/vws/vumark_service.py
  src/vws/vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Use keyword args for response dict factories
  src/vws/async_query.py
  src/vws/async_vws.py
  src/vws/query.py
  src/vws/vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Remove duplicated response parsing helpers
  src/vws/_query_common.py
  src/vws/_vws_common.py
  src/vws/async_query.py
  src/vws/async_vws.py
  src/vws/query.py
  src/vws/vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Add VWSError result code factory
  src/vws/async_vumark_service.py
  src/vws/async_vws.py
  src/vws/exceptions/base_exceptions.py
  src/vws/exceptions/vws_exceptions.py
  src/vws/vumark_service.py
  src/vws/vws.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Apply pyproject-fmt 2.18 inline table key reordering
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix zizmor lint: upgrade to 1.23.1, disable superfluous-actions and secrets-outside-env
  pyproject.toml
  zizmor.yml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove secrets-outside-env disable, add environment to jobs that use secrets
  zizmor.yml
Due: actionlint

Remove unused dependabot/fetch-metadata step
  .github/workflows/dependabot-merge.yml
Due: actionlint

Move release and tag version into env vars to prevent template injection
  .github/workflows/release.yml
Due: actionlint

Enable template-injection rule in zizmor config
  zizmor.yml
Due: actionlint

Fix template-injection in Check steps
  .github/workflows/release.yml
Due: actionlint

fix: use pull_request.user.login instead of github.actor for bot check (fixes adamtheturtle/literalizer#146)
  .github/workflows/dependabot-merge.yml
  zizmor.yml
Due: actionlint

Apply pyproject-fmt 2.20.0 formatting
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Bump doccmd to 2026.3.26.2
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove getattr calls in async transport closing
  src/vws/async_query.py
  src/vws/async_vumark_service.py
  src/vws/async_vws.py
  src/vws/transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Remove tests for transports without aclose
  tests/test_transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Add kw_only to large frozen report and response dataclasses
  src/vws/reports.py
  src/vws/response.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Add kw_only=True to remaining dataclasses in reports module
  src/vws/reports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Use shared httpx.Client in HTTPXTransport for connection pooling
  src/vws/transports.py
  tests/test_transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Add close() to Transport protocol for resource cleanup parity
  src/vws/transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Deduplicate httpx Timeout construction with match helper
  src/vws/transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Add exhaustive match default to satisfy ty type checker
  src/vws/transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Use assert_never instead of pragma: no cover for exhaustive match
  src/vws/transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Use assert_never for exhaustive match, suppress ty/pyrefly @Todo issues
  src/vws/transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

chore: rename deptry pep621_dev_dependency_groups
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use pytest-beartype-tests plugin for test beartype
  conftest.py
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Pin pytest-beartype-tests to git revision (Sybil-safe)
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Pin pytest-beartype-tests to 2026.4.20 on PyPI
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

chore: define uv version once in pre-commit config
  .pre-commit-config.yaml
Due: actionlint

chore: bump uv to 0.11.7 for pre-commit hooks
  .pre-commit-config.yaml
Due: actionlint

ci: bump astral-sh/setup-uv from v7 to v8.1.0
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: actionlint

Bump mypy dependency to 2.0.0.
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Enable mypy parallel workers in pre-commit.
  .pre-commit-config.yaml
Due: actionlint

Normalize mypy docs pre-commit worker flag style.
  .pre-commit-config.yaml
Due: actionlint
