Repository VWS-Python/vws-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

actionlint:
  name: actionlint
  entry: actionlint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - push
  entry: python -m mypy .
  language: system
  pass_filenames: false

mypy-docs:
  name: mypy-docs
  stages:
  - push
  entry: doccmd --language=python --command="mypy"
  language: system

pyright:
  name: pyright
  stages:
  - push
  entry: python -m pyright .
  language: system
  pass_filenames: false

pyright-docs:
  name: pyright-docs
  stages:
  - push
  entry: doccmd --language=python --command="pyright"
  language: system

vulture:
  name: vulture
  entry: python -m vulture .
  language: system
  pass_filenames: false

vulture-docs:
  name: vulture docs
  entry: doccmd --language=python --command="vulture"
  language: system

pyroma:
  name: pyroma
  entry: python -m pyroma --min 10 .
  language: system
  pass_filenames: false

ruff-check-fix:
  name: Ruff check fix
  entry: python -m ruff check --fix
  language: system

ruff-check-fix-docs:
  name: Ruff check fix docs
  entry: doccmd --language=python --command="ruff check --fix"
  language: system

ruff-format-fix:
  name: Ruff format
  entry: python -m ruff format
  language: system

ruff-format-fix-docs:
  name: Ruff format docs
  entry: doccmd --language=python --no-pad-file --command="ruff format"
  language: system

doc8:
  name: doc8
  entry: python -m doc8
  language: system

interrogate:
  name: interrogate
  entry: python -m interrogate
  language: system

interrogate-docs:
  name: interrogate docs
  entry: doccmd --language=python --command="interrogate"
  language: system

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: pyproject-fmt
  language: system

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - push
  entry: python -m pyright --verifytypes vws
  language: system
  pass_filenames: false

Remove hardcoded secret suppressions
  newsfragments/3215.change.rst
  src/vws/_model_targets.py
  src/vws/async_model_target_service.py
  src/vws/model_target_service.py
  tests/conftest.py
  tests/test_async_model_targets.py
  tests/test_model_targets.py
  tests/test_transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

Remove supported runtime-import suppressions
  newsfragments/3216.change.rst
  pyproject.toml
  src/vws/_async_vws_request.py
  src/vws/_model_targets.py
  src/vws/_reco_counts.py
  src/vws/_vws_request.py
  src/vws/exceptions/model_target_exceptions.py
  src/vws/model_target_datasets.py
  src/vws/reports.py
  tests/conftest.py
  tests/test_async_cloud_reco_exceptions.py
  tests/test_async_query.py
  tests/test_async_vws.py
  tests/test_async_vws_exceptions.py
  tests/test_cloud_reco_exceptions.py
  tests/test_query.py
  tests/test_transports.py
  tests/test_vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

Cover cloud recognition server errors
  newsfragments/3214.change.rst
  src/vws/async_query.py
  src/vws/query.py
  tests/test_async_query.py
  tests/test_query.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

Validate report response values
  src/vws/reports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Add changelog entry
  newsfragments/3218.change.rst
Due: mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Cover invalid report response values
  tests/test_reports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Type Model Target request payloads
  src/vws/_model_targets.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Validate Model Target error JSON
  src/vws/_json_utils.py
  src/vws/exceptions/model_target_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Validate decoded JSON recursively
  src/vws/_json_utils.py
  src/vws/exceptions/model_target_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Type Model Target payloads as JSON
  src/vws/_model_targets.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Consolidate Model Target JSON typing
  src/vws/_json_utils.py
  src/vws/exceptions/model_target_exceptions.py
  src/vws/reports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Validate Model Target JSON responses
  src/vws/_model_targets.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Add news fragment
  newsfragments/3223.change.rst
Due: mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Type report responses as JSON
  docs/source/api-reference.rst
  src/vws/_json_utils.py
  src/vws/_model_targets.py
  src/vws/exceptions/model_target_exceptions.py
  src/vws/json_types.py
  src/vws/reports.py
  tests/test_reports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

Type Cloud Reco multipart fields
  src/vws/async_query.py
  src/vws/query.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Remove covered VWS error-path exclusions
  src/vws/async_vws.py
  src/vws/vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Cover imported exception classes
  src/vws/exceptions/custom_exceptions.py
  src/vws/exceptions/vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Cover service HTTP status handling
  src/vws/async_vumark_service.py
  src/vws/async_vws.py
  src/vws/vumark_service.py
  src/vws/vws.py
  tests/test_transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Cover target-name errors without request bodies
  src/vws/exceptions/vws_exceptions.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Move annotation-only conftest imports
  conftest.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Add missing Beartype decorators
  src/vws/_json_utils.py
  src/vws/exceptions/vws_exceptions.py
  src/vws/reports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Bump setup-uv to v10.1.0
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: actionlint

Declare checkout-only files in source-distribution checks
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Bump doccmd for typed click-compose callbacks
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Update doccmd and click-compose to 2026.9.16.1
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Prefer exact assertions in tests
  tests/test_async_vws.py
  tests/test_vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Bump actionlint-py to 1.7.12.25
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Update Pylint to 4.0.9 and remove ellipsis ignores
  pyproject.toml
  src/vws/transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Remove obsolete Mypy faster-cache extra
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Replace pytest-beartype-tests with pytest-beartype
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Update mypy to 2.4.0
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Enable Vale FigurativeLands checking
  .vale.ini
  docs/source/unreleased.rst
  prek.toml
Due: mypy, mypy-docs, pyright, pyright-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Configure Mypy parallelism in pyproject.toml
  prek.toml
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Check pytest parametrization with mypy-pytest-parametrize
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Move coverage settings into pyproject.toml
  .github/workflows/ci.yml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use module-level test functions for Karva preparation
  tests/test_async_model_targets.py
  tests/test_async_query.py
  tests/test_async_vws.py
  tests/test_model_targets.py
  tests/test_query.py
  tests/test_transports.py
  tests/test_vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Organize test functions into files by behavior
  pyproject.toml
  tests/async_model_targets/__init__.py
  tests/async_model_targets/helpers.py
  tests/async_model_targets/test_authentication.py
  tests/async_model_targets/test_datasets.py
  tests/async_vws/__init__.py
  tests/async_vws/test_configuration.py
  tests/async_vws/test_processing.py
  tests/async_vws/test_reports.py
  tests/async_vws/test_targets.py
  tests/async_vws/test_vumark.py
  tests/model_targets/__init__.py
  tests/model_targets/helpers.py
  tests/model_targets/test_authentication.py
  tests/model_targets/test_configuration.py
  tests/model_targets/test_datasets.py
  tests/model_targets/test_errors.py
  tests/test_async_query.py
  tests/test_async_vws.py
  tests/test_query.py
  tests/test_vws.py
  tests/transports/__init__.py
  tests/transports/test_httpx.py
  tests/transports/test_httpx2.py
  tests/vws/__init__.py
  tests/vws/test_configuration.py
  tests/vws/test_processing.py
  tests/vws/test_reports.py
  tests/vws/test_targets.py
  tests/vws/test_vumark.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  pyright-verifytypes: any of: \.py$
