Repository VWS-Python/vws-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  pyright-verifytypes: any of: \.py$

Separate test and lint CI build
  .github/workflows/lint.yml
Due: actionlint

Change build names
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: actionlint

Pin build and check-wheel-contents
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use uv instead of 'build' for building
  .github/workflows/release.yml
Due: actionlint

Use uv instead of 'build' for building
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use environment variables to remove duplication in uv commands
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: actionlint

Update release process to support >= 10 releases in a day
  .github/workflows/release.yml
Due: actionlint

Format some yaml files
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: actionlint

Add YAML formatting
  .pre-commit-config.yaml
  .yamlfmt
  codecov.yaml
  readthedocs.yaml
Due: actionlint

Add checkmake
  .checkmake-config.ini
  .pre-commit-config.yaml
Due: actionlint

Add pygrep hooks
  .pre-commit-config.yaml
Due: actionlint

Add docformatter pre-commit
  .pre-commit-config.yaml
  conftest.py
  docs/source/__init__.py
  pyproject.toml
  src/vws/exceptions/base_exceptions.py
  src/vws/exceptions/custom_exceptions.py
  src/vws/exceptions/vws_exceptions.py
  src/vws/query.py
  src/vws/reports.py
  src/vws/types.py
  src/vws/vws.py
  tests/__init__.py
  tests/conftest.py
  tests/test_vws.py
  tests/test_vws_exceptions.py
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Do not run docformatter on pre-commit.ci
  .pre-commit-config.yaml
Due: actionlint

Run docformatter in place
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Simplify pre-commit calls
  .pre-commit-config.yaml
Due: actionlint

Specify Windows support in classifiers
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Switch from yamlfmt to yamlfix
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-merge.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  pyproject.toml
  readthedocs.yaml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove checkmake - it is flaky on Windows
  .checkmake-config.ini
  .pre-commit-config.yaml
Due: actionlint

Remove yamlfmt config
  .yamlfmt
Due: none

Add Windows classifier
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use max supported Python version for explicit pyproject-fmt configuration
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove workaround for CRLF line endings now we tell git to check out with lf
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Update git attributes
  .gitattributes
Due: none

Move shellcheck settings to rc file
  .pre-commit-config.yaml
Due: actionlint

Bump doccmd
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Configure VSCode to run tests in its UI
  .vscode/settings.json
Due: none

Add lower bounds to all requirements
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Move mypy file definitions to pyproject.toml
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

No need to give directory to check-manifest
  .pre-commit-config.yaml
Due: actionlint

Fix the version in Sphinx to be the last released version
  docs/source/conf.py
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Fix the name of the yamlfix pre-commit hook
  .pre-commit-config.yaml
Due: actionlint

Pin uv for pre-commit hook
  .pre-commit-config.yaml
Due: actionlint

Remove unnecessary build dependency - pip
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use faster mypy cache
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use @unique to ensure and communicate enum uniqueness
  src/vws/include_target_data.py
  src/vws/reports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Do not run doccmd against Python or toml files
  .pre-commit-config.yaml
Due: actionlint

Autofix ruff issue
  src/vws/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Update RTD config with new requirements
  readthedocs.yaml
Due: actionlint

Do not use now-useless toml specifier for setuptools-scm
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix
