Repository VWS-Python/vws-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

actionlint:
  name: actionlint
  entry: actionlint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - push
  entry: python -m mypy .
  language: system
  pass_filenames: false

mypy-docs:
  name: mypy-docs
  stages:
  - push
  entry: doccmd --language=python --command="mypy"
  language: system

pyright:
  name: pyright
  stages:
  - push
  entry: python -m pyright .
  language: system
  pass_filenames: false

pyright-docs:
  name: pyright-docs
  stages:
  - push
  entry: doccmd --language=python --command="pyright"
  language: system

vulture:
  name: vulture
  entry: python -m vulture .
  language: system
  pass_filenames: false

vulture-docs:
  name: vulture docs
  entry: doccmd --language=python --command="vulture"
  language: system

pyroma:
  name: pyroma
  entry: python -m pyroma --min 10 .
  language: system
  pass_filenames: false

ruff-check-fix:
  name: Ruff check fix
  entry: python -m ruff check --fix
  language: system

ruff-check-fix-docs:
  name: Ruff check fix docs
  entry: doccmd --language=python --command="ruff check --fix"
  language: system

ruff-format-fix:
  name: Ruff format
  entry: python -m ruff format
  language: system

ruff-format-fix-docs:
  name: Ruff format docs
  entry: doccmd --language=python --no-pad-file --command="ruff format"
  language: system

doc8:
  name: doc8
  entry: python -m doc8
  language: system

interrogate:
  name: interrogate
  entry: python -m interrogate
  language: system

interrogate-docs:
  name: interrogate docs
  entry: doccmd --language=python --command="interrogate"
  language: system

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: pyproject-fmt
  language: system

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - push
  entry: python -m pyright --verifytypes vws
  language: system
  pass_filenames: false

Use VWS Python Mock 2026.8.4
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/publish-site.yml
  README.rst
  newsfragments/822.change.rst
  pyproject.toml
  src/vws/exceptions/vws_exceptions.py
  tests/test_async_vws_exceptions.py
  tests/test_vws_exceptions.py
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

Fix Ruff typing import checks
  conftest.py
  src/vws/_async_vws_request.py
  src/vws/_vws_request.py
  src/vws/async_vumark_service.py
  src/vws/async_vws.py
  src/vws/exceptions/base_exceptions.py
  src/vws/exceptions/custom_exceptions.py
  src/vws/transports.py
  src/vws/vumark_service.py
  src/vws/vws.py
  tests/conftest.py
  tests/test_async_cloud_reco_exceptions.py
  tests/test_async_query.py
  tests/test_async_vws.py
  tests/test_cloud_reco_exceptions.py
  tests/test_query.py
  tests/test_transports.py
  tests/test_vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Handle non-JSON Cloud Query errors
  newsfragments/3093.change.rst
  pyproject.toml
  src/vws/async_query.py
  src/vws/query.py
  tests/test_async_cloud_reco_exceptions.py
  tests/test_cloud_reco_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

Cover malformed successful query responses
  src/vws/async_query.py
  src/vws/query.py
  tests/test_async_cloud_reco_exceptions.py
  tests/test_cloud_reco_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Handle documented VuMark generation failures
  newsfragments/3090.change.rst
  pyproject.toml
  spelling_private_dict.txt
  src/vws/async_vumark_service.py
  src/vws/exceptions/vws_exceptions.py
  src/vws/vumark_service.py
  tests/test_async_vws_exceptions.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

Fix async VuMark test coverage
  tests/test_async_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Use prek action with autofix.ci
  .github/dependabot.yml
  .github/workflows/autofix.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: actionlint

Bump no-defaults to v1.0.1
  .pre-commit-config.yaml
Due: actionlint

Add no-defaults linting
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Run no-defaults as a local uv hook
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Lint reStructuredText prose with Vale
  .gitignore
  .pre-commit-config.yaml
  .vale.ini
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use the ClearProse config package
  .vale.ini
Due: none

Sync Vale styles when ``.vale.ini`` changes
  .pre-commit-config.yaml
Due: actionlint

Lint Markdown prose with Vale
  .pre-commit-config.yaml
  .vale.ini
Due: actionlint

Bump beartype to 0.23.0rc0
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Remove TC00x ruff ignores
  conftest.py
  src/vws/_async_vws_request.py
  src/vws/_vws_request.py
  src/vws/async_vumark_service.py
  src/vws/async_vws.py
  src/vws/exceptions/base_exceptions.py
  src/vws/exceptions/custom_exceptions.py
  src/vws/vumark_service.py
  src/vws/vws.py
  tests/conftest.py
  tests/test_async_cloud_reco_exceptions.py
  tests/test_async_query.py
  tests/test_async_vws.py
  tests/test_async_vws_exceptions.py
  tests/test_cloud_reco_exceptions.py
  tests/test_query.py
  tests/test_transports.py
  tests/test_vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Switch Vale to the upstream ai-tells package
  .pre-commit-config.yaml
  .vale.ini
Due: actionlint

Map the ProjectHasNoApiAccess result code
  newsfragments/3128.change.rst
  pyproject.toml
  src/vws/exceptions/vws_exceptions.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

Add ProjectHasNoApiAccess to the spelling dictionary
  spelling_private_dict.txt
Due: none

Map only the documented ProjectHasNoApiAccess casing
  newsfragments/3128.change.rst
  spelling_private_dict.txt
  src/vws/exceptions/vws_exceptions.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

Drop the result code casing comment
  src/vws/exceptions/vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Add Database Reco Counts report client support
  conftest.py
  docs/source/index.rst
  newsfragments/3133.change.rst
  spelling_private_dict.txt
  src/vws/_reco_counts.py
  src/vws/async_vws.py
  src/vws/exceptions/custom_exceptions.py
  src/vws/reports.py
  src/vws/vws.py
  tests/conftest.py
  tests/test_async_vws.py
  tests/test_vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

Take the reco counts report year and month as ints
  docs/source/index.rst
  src/vws/_reco_counts.py
  src/vws/async_vws.py
  src/vws/vws.py
  tests/conftest.py
  tests/test_async_vws.py
  tests/test_vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

Take the reco counts report month as a calendar.Month
  docs/source/index.rst
  src/vws/_reco_counts.py
  src/vws/async_vws.py
  src/vws/vws.py
  tests/test_async_vws.py
  tests/test_vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  pyright-verifytypes: any of: \.py$
