Repository VWS-Python/vws-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  pyright-verifytypes: any of: \.py$

Take the reco counts report year and month as ints
  docs/source/index.rst
  src/vws/_reco_counts.py
  src/vws/async_vws.py
  src/vws/vws.py
  tests/conftest.py
  tests/test_async_vws.py
  tests/test_vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

Add Model Target Web API client support
  conftest.py
  docs/source/api-reference.rst
  docs/source/exceptions.rst
  docs/source/index.rst
  newsfragments/3119.change.rst
  pyproject.toml
  spelling_private_dict.txt
  src/vws/__init__.py
  src/vws/_model_targets.py
  src/vws/async_model_target_service.py
  src/vws/exceptions/model_target_exceptions.py
  src/vws/model_target_datasets.py
  src/vws/model_target_service.py
  src/vws/reports.py
  tests/conftest.py
  tests/test_async_model_targets.py
  tests/test_model_targets.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

Bump CHANGELOG
  CHANGELOG.rst
  newsfragments/3090.change.rst
  newsfragments/3091.change.rst
  newsfragments/3092.change.rst
  newsfragments/3093.change.rst
  newsfragments/3119.change.rst
  newsfragments/3128.change.rst
  newsfragments/3133.change.rst
  newsfragments/822.change.rst
Due: mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Bump August dependency releases
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Adopt vws-test-fixtures 2026.8.23 boundary fixtures.
  pyproject.toml
  tests/test_async_cloud_reco_exceptions.py
  tests/test_async_vws_exceptions.py
  tests/test_cloud_reco_exceptions.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Switch pre-commit config from YAML to prek.toml
  .pre-commit-config.yaml
  prek.toml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Allow @beartype under mypy-strict-kwargs 2026.8.20.1
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Also ignore pytest.fixture under mypy-strict-kwargs 2026.8.20.1
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Ignore pytest_asyncio.fixture under mypy-strict-kwargs 2026.8.20.1
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Disable prek-action cache to avoid Windows uv.exe os error 193
  .github/workflows/lint.yml
Due: actionlint

Bump mypy-strict-kwargs to 2026.8.25
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Bump to mypy-strict-kwargs 2026.8.25.1
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Test Model Target errors through the mock
  newsfragments/3169.change
  pyproject.toml
  src/vws/_model_targets.py
  tests/test_async_model_targets.py
  tests/test_model_targets.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Bump CHANGELOG
  CHANGELOG.rst
  newsfragments/3169.change
Due: mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Make towncrier reject invalid fragment suffixes
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Add HTTPX2 transports
  docs/source/index.rst
  newsfragments/3174.change
  pyproject.toml
  spelling_private_dict.txt
  src/vws/transports.py
  tests/test_transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

Bump CHANGELOG
  CHANGELOG.rst
  newsfragments/3174.change
Due: mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Make pyrefly error on unused ignore comments
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use the pyrefly strict preset
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use PEP 735 dependency groups
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/source/contributing.rst
  prek.toml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs, pyproject-fmt-fix

Use dependency groups in deployment workflows
  .github/workflows/publish-site.yml
Due: actionlint

Use the pyrefly all preset
  conftest.py
  docs/source/index.rst
  pyproject.toml
  spelling_private_dict.txt
  src/vws/_image_utils.py
  src/vws/_model_targets.py
  src/vws/async_model_target_service.py
  src/vws/async_query.py
  src/vws/async_vumark_service.py
  src/vws/async_vws.py
  src/vws/exceptions/model_target_exceptions.py
  src/vws/exceptions/vws_exceptions.py
  src/vws/model_target_service.py
  src/vws/query.py
  src/vws/reports.py
  src/vws/transports.py
  src/vws/vumark_service.py
  src/vws/vws.py
  tests/conftest.py
  tests/test_async_cloud_reco_exceptions.py
  tests/test_async_model_targets.py
  tests/test_async_vws.py
  tests/test_cloud_reco_exceptions.py
  tests/test_model_targets.py
  tests/test_query.py
  tests/test_transports.py
  tests/test_vws.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

Keep documentation and coverage gates green
  docs/source/index.rst
  src/vws/exceptions/vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

Enable all Pyrefly checks
  src/vws/exceptions/vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Use Ty's strictest recommended configuration
  pyproject.toml
  spelling_private_dict.txt
  src/vws/_model_targets.py
  tests/conftest.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Use one sentence per line in documentation
  CHANGELOG.rst
  CODE_OF_CONDUCT.rst
  README.rst
Due: mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Replace Ty ignores with typed boundaries
  src/vws/_model_targets.py
  tests/conftest.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Cover typed boundary handling
  tests/conftest.py
  tests/test_model_targets.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Enforce semantic line breaks with Snapper
  .github/workflows/semantic-line-breaks.yml
  docs/source/unreleased.rst
Due: actionlint, mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Use the Snapper 0.11.0 release
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Validate JSON response shapes
  src/vws/_json_utils.py
  src/vws/async_query.py
  src/vws/async_vumark_service.py
  src/vws/async_vws.py
  src/vws/exceptions/vws_exceptions.py
  src/vws/query.py
  src/vws/vumark_service.py
  src/vws/vws.py
  tests/test_query.py
  tests/test_vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes
