Repository VWS-Python/vws-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

actionlint:
  name: actionlint
  entry: actionlint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - push
  entry: python -m mypy .
  language: system
  pass_filenames: false

mypy-docs:
  name: mypy-docs
  stages:
  - push
  entry: doccmd --language=python --command="mypy"
  language: system

pyright:
  name: pyright
  stages:
  - push
  entry: python -m pyright .
  language: system
  pass_filenames: false

pyright-docs:
  name: pyright-docs
  stages:
  - push
  entry: doccmd --language=python --command="pyright"
  language: system

vulture:
  name: vulture
  entry: python -m vulture .
  language: system
  pass_filenames: false

vulture-docs:
  name: vulture docs
  entry: doccmd --language=python --command="vulture"
  language: system

pyroma:
  name: pyroma
  entry: python -m pyroma --min 10 .
  language: system
  pass_filenames: false

ruff-check-fix:
  name: Ruff check fix
  entry: python -m ruff check --fix
  language: system

ruff-check-fix-docs:
  name: Ruff check fix docs
  entry: doccmd --language=python --command="ruff check --fix"
  language: system

ruff-format-fix:
  name: Ruff format
  entry: python -m ruff format
  language: system

ruff-format-fix-docs:
  name: Ruff format docs
  entry: doccmd --language=python --no-pad-file --command="ruff format"
  language: system

doc8:
  name: doc8
  entry: python -m doc8
  language: system

interrogate:
  name: interrogate
  entry: python -m interrogate
  language: system

interrogate-docs:
  name: interrogate docs
  entry: doccmd --language=python --command="interrogate"
  language: system

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: pyproject-fmt
  language: system

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - push
  entry: python -m pyright --verifytypes vws
  language: system
  pass_filenames: false

Replace generic test helpers with focused modules
  tests/async_model_targets/test_authentication.py
  tests/async_model_targets/test_datasets.py
  tests/model_target_credentials.py
  tests/model_targets/responses.py
  tests/model_targets/test_authentication.py
  tests/model_targets/test_configuration.py
  tests/model_targets/test_datasets.py
  tests/model_targets/test_errors.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Allow cancelled completion jobs to stop
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: actionlint

Bump CHANGELOG
  docs/source/changelog/2026.10.09.md
  newsfragments/+native-markdown.change.md
  newsfragments/3214.change.md
  newsfragments/3215.change.md
  newsfragments/3216.change.md
  newsfragments/3218.change.md
  newsfragments/3223.change.md
Due: mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs

Run validation workflows for stacked pull requests
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/publish-site.yml
  newsfragments/+a6d70bc6.change.md
Due: actionlint, mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs

Require released Beartype 0.23.0
  newsfragments/+beartype-0.23.change.md
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, vulture-docs, pyroma, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs, pyproject-fmt-fix

Keep release notes compatible with documentation lint
  newsfragments/+beartype-0.23.change.md
Due: mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, interrogate-docs

Show tracebacks for Mypy crashes
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Generate release notes with semantic line breaks
  .github/towncrier_template.md.jinja
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Format release notes with Snapper after Towncrier
  .github/towncrier_template.md.jinja
  .github/workflows/release.yml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  pyright-verifytypes: any of: \.py$
