Repository VWS-Python/vws-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  pyright-verifytypes: any of: \.py$

Inline mypy-docs command to keep worker flags together.
  .pre-commit-config.yaml
Due: actionlint

Add strict-kwargs as a local pre-commit hook (dev dependency)
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix strict-kwargs dev dependency alphabetical order
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix malformed dev dependencies list in pyproject.toml
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Bump strict-kwargs to 2026.5.18.post1 and revert Python changes
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix doccmd pylint ignores
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Deduplicate httpx timeout construction
  src/vws/transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Fix timeout helper coverage
  src/vws/transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Inline httpx timeout match handling
  src/vws/transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Use assert_never for timeout match fallback
  pyproject.toml
  src/vws/transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Add type checker names to spelling dictionary
  spelling_private_dict.txt
Due: none

Avoid timeout match suppressions
  pyproject.toml
  spelling_private_dict.txt
  src/vws/transports.py
  tests/test_transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Bump strict-kwargs and use diff mode
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Ban dynamic builtins and typing.cast in lint config.
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Drive changelog releases from towncrier
  .github/workflows/release.yml
  CHANGELOG.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/unreleased.rst
  docs/towncrier_template.rst.jinja
  newsfragments/.gitkeep
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

Add towncrier to release extra
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Make useless Pylint suppressions fail lint
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Apply pyproject-fmt 2.23.0 formatting changes.
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix strict-kwargs pre-commit hook entry for new CLI
  .pre-commit-config.yaml
Due: actionlint

Add test for RequestQuotaReached exception.
  src/vws/exceptions/vws_exceptions.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Fix json.dumps call to use keyword argument for mypy.
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Add exceptions for documented VuMark error result codes.
  newsfragments/3090.change.rst
  spelling_private_dict.txt
  src/vws/async_vumark_service.py
  src/vws/exceptions/vws_exceptions.py
  src/vws/vumark_service.py
  tests/test_async_vws_exceptions.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

Fix target_id when base_vws_url has a path prefix.
  newsfragments/3091.change.rst
  src/vws/exceptions/vws_exceptions.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

Retain explicitly provided falsy custom transports.
  newsfragments/3092.change.rst
  src/vws/async_query.py
  src/vws/async_vumark_service.py
  src/vws/async_vws.py
  src/vws/query.py
  src/vws/vumark_service.py
  src/vws/vws.py
  tests/test_transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

Cover target_id helper fallback when the URL has no marker.
  src/vws/exceptions/vws_exceptions.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Fix spelling and pylint issues in falsy transport tests.
  spelling_private_dict.txt
  tests/test_transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Satisfy pylint empty-list comparison check in transport tests.
  tests/test_transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Cover falsy transport __bool__ methods in retention tests.
  tests/test_transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Raise UnexpectedQueryResponseError for non-JSON Cloud Query bodies.
  newsfragments/3093.change.rst
  spelling_private_dict.txt
  src/vws/async_query.py
  src/vws/exceptions/custom_exceptions.py
  src/vws/query.py
  tests/test_async_cloud_reco_exceptions.py
  tests/test_cloud_reco_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

Remove obsolete bdist_wheel.universal setting.
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Fix strict-kwargs pre-commit arguments
  .pre-commit-config.yaml
Due: actionlint

Configure Ruff 0.16 defaults
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix
