Repository VWS-Python/vws-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  pyright-verifytypes: any of: \.py$

Simplify release script by removing unnecessary intermediary variables
  .github/workflows/release.yml
Due: actionlint

Simplify release script by removing unnecessary git fetch tags command
  .github/workflows/release.yml
Due: actionlint

Add back required part of the command
  .github/workflows/release.yml
Due: actionlint

Remove lint ignores - do not allow hardcoded secrets in documentation
  README.rst
  conftest.py
  docs/source/index.rst
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

Bump version of Python mentioned in docs
  docs/source/index.rst
Due: mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Test shell snippets in documentation code blocks
  .pre-commit-config.yaml
  docs/source/release-process.rst
Due: actionlint, mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Bump CHANGELOG
  CHANGELOG.rst
Due: mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Do not run new hooks on pre-commit CI
  .pre-commit-config.yaml
Due: actionlint

Add a few more pre-commit hooks
  .pre-commit-config.yaml
Due: actionlint

Satisfy pylint
  conftest.py
  docs/source/conf.py
  src/vws/vws.py
  tests/conftest.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Add check-json and meta pre-commit hooks
  .pre-commit-config.yaml
Due: actionlint

Update RTD build OS
  readthedocs.yaml
Due: actionlint

Remove ignores of deprecated ruff rules
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Make it possible create sets of our custom types
  src/vws/reports.py
  src/vws/types.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Work out minimum Python version so that fewer replacements are needed when we bump the version
  README.rst
  docs/source/conf.py
  docs/source/index.rst
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyright-verifytypes

Add shfmt to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Update shfmt command to work on more inputs
  .pre-commit-config.yaml
Due: actionlint

Start using uv for Python in CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/windows-ci.yml
Due: actionlint

Disable cache for now
  .github/workflows/ci.yml
Due: actionlint

Remove unnecessary setup
  .github/workflows/ci.yml
Due: actionlint

Remove duplicate Python version spec
  .github/workflows/ci.yml
Due: actionlint

Use uv in move CI places
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/windows-ci.yml
Due: actionlint

Update calling method for shellcheck shell option to be consistent amoung projects
  .pre-commit-config.yaml
Due: actionlint

Exclude shellcheck error which prevents it from working on Windows
  .pre-commit-config.yaml
Due: actionlint

Use --all-extras in Windows CI setup
  .github/workflows/windows-ci.yml
Due: actionlint

Ignore D004 errors in doc8 so it works on Windows
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Try to work around Windows line endings issue
  .gitattributes
Due: none

Remove duplicate Windows CI setup
  .github/workflows/windows-ci.yml
Due: actionlint

Use setup-uv GitHub Action
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: actionlint

Move release dependencies to pyproject.toml
  .github/workflows/release.yml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Ignore release dependency group in deptry
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use uv to run actionlint
  .pre-commit-config.yaml
Due: actionlint

Add the uv dependency
  .pre-commit-config.yaml
Due: actionlint

Make pre-commit work without activating a virtualenv
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Bump pyenchant to a macOS ARM compatible RC
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Update pre-commit config
  .pre-commit-config.yaml
Due: actionlint

Use new hook stage names
  .github/workflows/ci.yml
  docs/source/contributing.rst
Due: actionlint, mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Simplify docs setup
  .pre-commit-config.yaml
  docs/Makefile
Due: actionlint

Make it possible to run docs help without virtualenv
  docs/Makefile
Due: none

Use Sphinx feature to simplify setting copyright
  docs/source/conf.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes
