Repository VWS-Python/vws-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

actionlint:
  name: actionlint
  entry: actionlint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - push
  entry: python -m mypy .
  language: system
  pass_filenames: false

mypy-docs:
  name: mypy-docs
  stages:
  - push
  entry: doccmd --language=python --command="mypy"
  language: system

pyright:
  name: pyright
  stages:
  - push
  entry: python -m pyright .
  language: system
  pass_filenames: false

pyright-docs:
  name: pyright-docs
  stages:
  - push
  entry: doccmd --language=python --command="pyright"
  language: system

vulture:
  name: vulture
  entry: python -m vulture .
  language: system
  pass_filenames: false

vulture-docs:
  name: vulture docs
  entry: doccmd --language=python --command="vulture"
  language: system

pyroma:
  name: pyroma
  entry: python -m pyroma --min 10 .
  language: system
  pass_filenames: false

ruff-check-fix:
  name: Ruff check fix
  entry: python -m ruff check --fix
  language: system

ruff-check-fix-docs:
  name: Ruff check fix docs
  entry: doccmd --language=python --command="ruff check --fix"
  language: system

ruff-format-fix:
  name: Ruff format
  entry: python -m ruff format
  language: system

ruff-format-fix-docs:
  name: Ruff format docs
  entry: doccmd --language=python --no-pad-file --command="ruff format"
  language: system

doc8:
  name: doc8
  entry: python -m doc8
  language: system

interrogate:
  name: interrogate
  entry: python -m interrogate
  language: system

interrogate-docs:
  name: interrogate docs
  entry: doccmd --language=python --command="interrogate"
  language: system

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: pyproject-fmt
  language: system

pyright-verifytypes:
  name: pyright-verifytypes
  stages:
  - push
  entry: python -m pyright --verifytypes vws
  language: system
  pass_filenames: false

Bump CHANGELOG
  CHANGELOG.rst
Due: mypy-docs, pyright-docs, vulture-docs, ruff-check-fix-docs, ruff-format-fix-docs, doc8, interrogate-docs

Enforce keyword-only arguments
  src/vws/query.py
  src/vws/vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Use native pytest TOML configuration
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Use keyword-only parameters in tests
  tests/test_cloud_reco_exceptions.py
  tests/test_query.py
  tests/test_vws.py
  tests/test_vws_exceptions.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Add @beartype to pytest_collection_modifyitems hook
  conftest.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Replace urljoin with string concatenation for base URL construction
  src/vws/_vws_request.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Fix urljoin in query.py and add path-prefix base URL tests
  src/vws/query.py
  tests/test_query.py
  tests/test_vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Simplify path-prefix tests: use MockVWS + ConnectionError
  tests/test_query.py
  tests/test_vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Use keyword argument for pytest.raises
  tests/test_query.py
  tests/test_vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Bump vws-python-mock to 2026.2.22.1
  pyproject.toml
Due: mypy, mypy-docs, pyright, pyright-docs, pyroma, pyproject-fmt-fix

Add positive path-prefix tests and fix auth signing for prefixed base URLs
  src/vws/_vws_request.py
  src/vws/query.py
  tests/test_query.py
  tests/test_vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Bump vws-python-mock to 2026.2.22.2 and clean up path-prefix handling
  pyproject.toml
  src/vws/_vws_request.py
  src/vws/query.py
  tests/test_vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Use implicit booleaness check in path-prefix test
  tests/test_vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Fix wait_for_target_processed returning before status is stable.
  src/vws/vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Simplify verification to just a sleep to maintain 100% coverage.
  src/vws/vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Use * for keyword-only arguments in pytest fixtures
  conftest.py
  tests/conftest.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Add switchable HTTP transports (requests and httpx)
  docs/source/api-reference.rst
  pyproject.toml
  spelling_private_dict.txt
  src/vws/__init__.py
  src/vws/_vws_request.py
  src/vws/query.py
  src/vws/transports.py
  src/vws/vumark_service.py
  src/vws/vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

Remove transport re-exports from vws.__init__
  pyproject.toml
  src/vws/__init__.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, pyroma, ruff-check-fix, ruff-format-fix, interrogate, pyproject-fmt-fix, pyright-verifytypes

Fix pylint issues in transports and vumark_service
  src/vws/transports.py
  src/vws/vumark_service.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Remove future annotations, add HTTPXTransport tests
  src/vws/transports.py
  tests/test_transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Address Bugbot review feedback on HTTPXTransport
  src/vws/transports.py
  tests/test_transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Suppress pylint no-self-use for test files
  tests/test_transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Make float timeout consistent with tuple timeout in HTTPXTransport
  src/vws/transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Assert httpx mock routes are called in transport tests
  tests/test_transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Rename transport `timeout` parameter to `request_timeout`
  src/vws/_vws_request.py
  src/vws/query.py
  src/vws/transports.py
  tests/test_transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Extract shared image utilities to reduce duplication
  src/vws/_image_utils.py
  src/vws/query.py
  src/vws/vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Extract TooManyRequests and ServerError checks to target_api_request
  src/vws/_vws_request.py
  src/vws/vumark_service.py
  src/vws/vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Add asyncio support with async client classes
  docs/source/api-reference.rst
  pyproject.toml
  spelling_private_dict.txt
  src/vws/__init__.py
  src/vws/_async_vws_request.py
  src/vws/async_query.py
  src/vws/async_vumark_service.py
  src/vws/async_vws.py
  src/vws/transports.py
  tests/conftest.py
  tests/test_async_cloud_reco_exceptions.py
  tests/test_async_query.py
  tests/test_async_vws.py
  tests/test_async_vws_exceptions.py
  tests/test_transports.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, vulture-docs, pyroma, ruff-check-fix, ruff-check-fix-docs, ruff-format-fix, ruff-format-fix-docs, doc8, interrogate, interrogate-docs, pyproject-fmt-fix, pyright-verifytypes

Add from_response_dict classmethods to report classes
  src/vws/async_query.py
  src/vws/async_vws.py
  src/vws/query.py
  src/vws/reports.py
  src/vws/vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Add type ignores to suppress mypy errors from classmethods
  src/vws/async_query.py
  src/vws/async_vws.py
  src/vws/query.py
  src/vws/reports.py
  src/vws/vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Fix mypy type: ignore error codes to use [misc] for Too many positional arguments
  src/vws/async_query.py
  src/vws/async_vws.py
  src/vws/query.py
  src/vws/reports.py
  src/vws/vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Extract shared helpers to reduce sync/async code duplication
  src/vws/_async_vws_request.py
  src/vws/_query_common.py
  src/vws/_vws_common.py
  src/vws/_vws_request.py
  src/vws/async_query.py
  src/vws/async_vumark_service.py
  src/vws/async_vws.py
  src/vws/query.py
  src/vws/vumark_service.py
  src/vws/vws.py
Due: mypy, mypy-docs, pyright, pyright-docs, vulture, ruff-check-fix, ruff-format-fix, interrogate, pyright-verifytypes

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  mypy: any of: \.py$, \.toml$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  pyright: any of: \.py$, \.toml$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$, \.py$, \.toml$
  vulture: any of: \.py$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyroma: any of: \.toml$
  ruff-check-fix: any of: \.py$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix: any of: \.py$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  pyright-verifytypes: any of: \.py$
